<!DOCTYPE html>
{%extends 'books_app/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<h1> Import books from google API into Books Collection </h1>
<h5>Please enter keywords for books that you wont to import from google API.
    Next press 'Import books' and save data into Books' Collection data base </h5>

<form action="{% url 'import_books' %}" method="POST">
    {% csrf_token %}
    {{ form|crispy }}
   <button type="submit" class="btn btn-primary">Import books</button>
</form>


{% endblock %}
